# ==========================================
# C++ / CMake Rules
# ==========================================
# Compiled object files & libraries
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll

# Compiled CLI Executables
cli/pslog
cli/pslog.exe
build/
bin/

# CMake output directories
CMakeCache.txt
CMakeFiles/
cmake-build-*/
Makefile
cmake_install.cmake

# ==========================================
# Go Rules
# ==========================================
# Binaries
broker/go_broker
broker/go_broker.exe
*.exe
*.exe~
*.test
*.out

# Go dependencies / builds
/vendor/
/bin/
/dist/

# ==========================================
# Java / Spring Boot Rules
# ==========================================
# Maven
control-plane/target/
*.class
*.jar
*.war
*.ear

# Gradle (if you switch to Gradle later)
control-plane/build/
.gradle/
gradle-app.setting

# ==========================================
# IDE & System Garbage
# ==========================================
# JetBrains (CLion, GoLand, IntelliJ)
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json

# OS Specific
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db

# Logs & Temp files
*.log
*.tmp
*.swp
nohup.out