# Top-Level Binaries & Runtime Sockets
/bin/
*.sock
nohup.out

# C++ / CMake Build Artifacts
cli/build/
cli/bin/
cli/out/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Go Build Artifacts
*.exe
*.exe?
*.dll
*.so
*.dylib
*.test
*.out

# Java / Spring Boot Build Artifacts
control-plane/target/
control-plane/.mvn/timing/
*.class
*.jar
*.war
HELP.md

# Build System Wrappers
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs & Editor Files
.vscode/
.idea/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
*.swp
*.swo
.DS_Store